.dialog-container {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 70vw;
}

.dialog-title {
  margin-bottom: 16px;
  font-weight: 400;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 30px;
  color: black;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid black;
  background: transparent;
  padding: 20px;
  border-radius: 20px;
}

.dialog-field {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.mat-mdc-snack-bar-label {
  padding: 0px;
}

.mdc-button {
  background-color: transparent;
}

.mat-mdc-outlined-button:not(:disabled) {
  color: black;
  border: 1px solid black;
}
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
/* Font color */
input.mat-input-element {
  color: white;
}

::ng-deep
  .dialog-field.mat-mdc-form-field.mat-focused
  .mdc-notched-outline__leading,
::ng-deep
  .dialog-field.mat-mdc-form-field.mat-focused
  .mdc-notched-outline__trailing,
::ng-deep
  .dialog-field.mat-mdc-form-field.mat-focused
  .mdc-notched-outline__notch {
  border-color: black !important;
}

::ng-deep .dialog-field .mdc-floating-label {
  color: black !important;
}

::ng-deep .dialog-field.mat-focused .mdc-floating-label {
  color: black !important;
}
