<table class="periodic-table">
  <thead>
    <tr>
      <th class="corner"></th>
      <th *ngFor="let group of groups">{{ group }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let period of periods">
      <th class="period-number">{{ period }}</th>
      <td *ngFor="let group of groups">
        <div class="cell" *ngIf="getElementAt(period, group) as element">
          <div class="symbol">{{ element.symbol }}</div>
          <div class="number">{{ element.atomicNumber }}</div>
        </div>
        <div class="cell empty" *ngIf="!getElementAt(period, group)"></div>
      </td>
    </tr>
  </tbody>
</table>
