<svg viewBox="-150 -150 300 300" class="atom-svg">
  <circle cx="0" cy="0" r="12" class="nucleus" />

  <ng-container *ngFor="let electrons of shells; let i = index">
    <circle [attr.r]="40 + i * 30" class="shell" fill="none" />
    <g [attr.class]="'orbit orbit-' + i">
      <ng-container *ngFor="let e of getArray(electrons); let j = index">
        <circle
          [attr.cx]="(40 + i * 30) * Math.cos((2 * Math.PI * j) / electrons)"
          [attr.cy]="(40 + i * 30) * Math.sin((2 * Math.PI * j) / electrons)"
          r="4"
          class="electron"
        />
      </ng-container>
    </g>
  </ng-container>
</svg>
