.atom-svg {
  width: 300px;
  height: 300px;
  background-color: black;
}

.nucleus {
  fill: red;
  stroke: orange;
  stroke-width: 2;
}

.shell {
  stroke: gray;
  stroke-width: 1;
  opacity: 0.5;
}

.electron {
  fill: cyan;
  stroke: white;
  stroke-width: 0.5;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animacja obrotu dla każdej orbity */
.orbit {
  transform-origin: 0 0;
  animation: rotate 8s linear infinite;
}

.orbit-1 {
  animation-duration: 12s;
}

.orbit-2 {
  animation-duration: 20s;
}

.orbit-3 {
  animation-duration: 30s;
}
