table {
  width: 100%;
}

.h1 {
  padding-left: -20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.header h1 {
  margin-left: -20px;
}

.input-fiter {
  padding-top: 30px;
}

.spinner-container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-row {
  margin-bottom: 8px;
  border-radius: 8px;
}

.mat-mdc-table {
  border-collapse: separate !important;
  border-spacing: 0 3px !important;
  width: 100%;
}

.mat-mdc-table {
  background-color: white;
}
.mat-mdc-header-row {
  color: black;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  border: none;
  background: transparent;
}

.mat-mdc-row .cdk-column-symbol,
.mat-mdc-row .cdk-column-position {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.mat-mdc-row .cdk-column-position {
  font-weight: 600;
}

.cdk-column-position,
.cdk-column-name,
.cdk-column-weight,
.cdk-column-symbol,
.cdk-column-actions {
  color: black;
  text-align: center;
}

.mat-mdc-outlined-button:not(:disabled) {
  color: black;
  border: 1px solid black;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 4px;
}

.element-tile {
  display: none;
}

.tile-content {
  text-align: center;
  line-height: 1.2;
}

.cdk-column-actions {
  width: 20%;
}

.tile-content .number {
  font-size: 0.8em;
  opacity: 0.8;
}

.tile-content .symbol {
  font-size: 2em;
  font-weight: bold;
}

.tile-content .name {
  font-size: 0.9em;
  opacity: 0.9;
}

.tile-content .weight {
  font-size: 0.8em;
  opacity: 0.8;
}

@media (max-width: 690px) {
  .spinner-container {
    width: 100%;
    height: 50vh;
  }

  .header-container {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    margin-left: -30px;
  }

  .table-container {
    display: none;
  }

  .element-tile {
    display: flex;
  }

  .input-fiter {
    padding-top: 0px;
  }

  h1 {
    font-size: 20px;
  }

  .mobile-grid {
    padding: 20px;
  }
}
