table {
  width: 100%;
}

h1 {
  text-align: center;
}

.custom-row {
  margin-bottom: 8px;
  border-radius: 8px;
}

.mat-mdc-table {
  border-collapse: separate !important;
  border-spacing: 0 3px !important;
  width: 100%;
}

.mat-mdc-table {
  background-color: white;
}
.mat-mdc-header-row {
  color: black;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  border: none;
}

.mat-mdc-row .cdk-column-symbol,
.mat-mdc-row .cdk-column-position {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.mat-mdc-row .cdk-column-position {
  font-weight: 600;
}

.cdk-column-position,
.cdk-column-name,
.cdk-column-weight,
.cdk-column-symbol {
  color: black;
  text-align: center;
}

.loader-container,
.element-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
}

.tile-content {
  text-align: center;
  line-height: 1.2;
}

.tile-content .number {
  font-size: 0.8em;
  opacity: 0.8;
}

.tile-content .symbol {
  font-size: 2em;
  font-weight: bold;
}

.tile-content .name {
  font-size: 0.9em;
  opacity: 0.9;
}

.tile-content .weight {
  font-size: 0.8em;
  opacity: 0.8;
}
